/** @format */

@import "./_variables";
@import "./_custom-table";
@import './_mixins';
@import './slider';

.custom-form-control,
.custom-btn {
  border: 1px solid #eef0ea;
  box-shadow: none;
  border-radius: 2px;
  font-size: 14px;
  transition: all 0.3s ease;
  padding: 10px 16px 7px 16px;
  color: #8c8c8c;
}
.custom-navbar .container .custom-form-control:focus {
  border-color: $btn-danger-color-dark;
  box-shadow: 0 0 2px 0 $btn-danger-color-dark;
}
.custom-btn:hover {
  background-color: #d4d4d4;
  border: 1px solid #8c8c8c;
  color: $btn-primary-color-dark;
}
.custom-btn-primary {
  @include button-style($brand-primary);
}

.custom-btn-primary2 {
  color: #000;
  background-color: #f8ad47;
  border-color: #f8ad47;

  &:hover,
  &:active,
  &:focus,
  &:active:focus,
  &:active:hover {
    background-color: $btn-primary-color-dark;
    border-color: $btn-primary-color-dark;
    color: #000;
  }
}

.custom-btn-danger {
  @include button-style($brand-primary)
}
